@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');


/* Deals of the Day */ 

.dealsOfTheDay_wrapper {
    padding: 0px 100px 0px 100px; 
} 

.dealsOfTheDay_title h1 {
    z-index: 3;
    color: rgb(255, 255, 255);
    position: relative; 
    font-size: 100px;
    line-height: 100px;  
    text-align: center;
    padding-bottom: -14px;
    margin-bottom: -14px; 
    margin-top: 0px; 
    padding-top: 100px;
    ::shadow {
        text-shadow: 2px 5px 3px #6B00D7;
      }
} 

.dealsOfTheDay_image img {
    z-index: 2;
    position: relative; 
    width: 1000px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dealsOfTheDay_description__content {
    background-color: rgb(107, 0, 215); 
    border-radius: 0px 0px 25px 25px;
    width: 1000px; 
    height: 130px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 40px 2px #6B00D7
} 

.dealsOfTheDay_description__contentChildren {
    display: flex;
    justify-content: space-around; 
    font-size: 30px; 
    ::shadow {
        text-shadow: 2px 3px 3px #000000;
      }
} 

.dealsOfTheDay_description__contentChildren p {
  display: block;
  font-size: 30px; 
} 

.dealsOfTheDay_description__contentChildren a {
    color: rgb(255, 255, 255);
}

.dealsOfTheDay_description__contentChildren a:hover { 
    text-decoration: underline;
} 

.dealsOfTheDay_howMuchLeft__content p {
    color: rgb(107, 0, 215);
    text-align: center;    
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 100px;
} 

.dealsOfTheDay_endsIn__content {
    color: rgb(255, 255, 255);    
    font-size: 30px; 
    text-align: center; 
    margin-top: 100px;
    margin-bottom: 0px;
}  
