@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

body { 
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: 20px; 
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} 

a {
    text-decoration: none; 
} 

a:hover {
    text-decoration: none; 
    text-decoration: underline;
}


/* Nav */ 

.nav_wrapper { 
    padding: 100px 100px 0px 100px; 
    list-style: none; 
} 

.nav_wrapper a {
    color: rgb(255, 255, 255);
} 

.serviceNav_content {
    display: flex;
    justify-content: flex-end;
}

.serviceNav_content li {
    padding: 15px 10px;  
}

.serviceNav_content a {
    color: rgb(107, 0, 215);
}

.nav_brandLogo {
    flex: 1;
}

.mainNav_wrapper {
    display: flex;
    justify-content: space-between;
}

.nav_brandLogo img {
    width: 270px;
}

.mainNav_content {
    display: flex;
    align-items: center;
}

.mainNav_content li {
    padding: 15px 10px; 
} 


/* Solid Line */

.solidLine_wrapper { 
    padding: 25px 100px 100px 100px; 
}

hr .solidLine_content {
    border-top: 2px solid rgb(255, 255, 255);
} 

/* Header */ 

.header_wrapper {
    padding: 0px 100px 0px 100px; 
}

.header_content {
    font-size: 40px; 
} 

.header_content p {
    margin: 0px;
}

/* Deals of the Day */ 

.dealsOfTheDay_wrapper {
    padding: 0px 100px 0px 100px; 
} 

.dealsOfTheDay_title h1 {
    z-index: 3;
    color: rgb(255, 255, 255);
    position: relative; 
    font-size: 100px;
    line-height: 100px;  
    text-align: center;
    padding-bottom: -14px;
    margin-bottom: -14px; 
    margin-top: 0px; 
    padding-top: 100px;
} 

.dealsOfTheDay_image img {
    z-index: 2;
    position: relative; 
    width: 1000px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dealsOfTheDay_description__content {
    background-color: rgb(107, 0, 215); 
    border-radius: 0px 0px 25px 25px;
    width: 1000px; 
    height: 130px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.dealsOfTheDay_description__contentChildren {
    display: flex;
    justify-content: space-around; 
    font-size: 30px; 
} 

.dealsOfTheDay_description__contentChildren p {
  display: block;
  font-size: 30px; 
} 

.dealsOfTheDay_description__contentChildren a {
    color: rgb(255, 255, 255);
}

.dealsOfTheDay_description__contentChildren a:hover { 
    text-decoration: underline;
} 

.dealsOfTheDay_howMuchLeft__content p {
    color: rgb(107, 0, 215);
    text-align: center;    
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 100px;
} 

.dealsOfTheDay_endsIn__content {
    color: rgb(255, 255, 255);    
    font-size: 30px; 
    text-align: center; 
    margin-top: 100px;
    margin-bottom: 0px;
}  

#countdown_timer {
    color: rgb(255, 255, 255);    
    font-size: 100px; 
    text-align: center; 
    font-weight: 700;
    margin: 0px;  
}

/* Sponsorships */ 

.sponsorships_wrapper {
    padding: 0px 100px 150px 100px; 
}

.sponsorships_content {
    background-color: rgb(107, 0, 215); 
    padding: 100px; 
} 

.sponsorships_title h2 { 
    font-weight: 500;
    font-size: 30px; 
    text-align: center;

} 

.sponsorships_logos {
    display: flex;
    align-items: center;
    list-style: none; 
    justify-content: space-evenly; 
    padding-top: 25px;
}


/* About Us */ 

.aboutUs_wrapper {
    padding: 150px 100px 0px 100px; 
}

.aboutUs_title h1 {
    color: rgb(107, 0, 215); 
    font-size: 125px;
    text-align: center;
    padding-bottom: -5px;
    margin-bottom: -5px; 
    margin-top: 0px;
} 

.aboutUs_text p {
    color: rgb(107, 0, 215); 
    font-size: 30px;
    text-align: center; 
    padding: 0px;
    margin: 0px; 
    padding-top: 50px;
    padding-bottom: 5px;
}

.aboutUs_text__exception p {
    padding: 0px;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.aboutUs_logo {
    width: 270px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

/* Follow us */ 

.followUs_wrapper {
    padding: 50px 100px 125px 100px; 
}

.followUs_title h2 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    line-height: 100px;  
    text-align: center;
}

.followUs_logos {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none; 
} 

.followUs_logos img { 
    margin: 0px 25px 0px 25px;
}