    <!-- Follow Us-->
    <div class="followUs_wrapper">
        <div class="followUs_content">
            <div class="followUs_title">
                <h2>Follow @99deals on:</h2>
            </div>
            <div class="followUs_logos">
                <img src="assets/img/logos/socialmedia/instagram_logo.png" alt="Instagram Logo">
                <img src="assets/img/logos/socialmedia/tiktok_logo.png" alt="TikTok Logo">
                <img src="assets/img/logos/socialmedia/twitter_logo.png" alt="Twitter Logo">
                <img src="assets/img/logos/socialmedia/facebook_logo.png" alt="Facebook Logo">
            </div>
        </div>
    </div>