/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');



body { 
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: 20px; 
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } 
  
  a {
      text-decoration: none; 
  } 
  
  a:hover {
      text-decoration: none; 
      text-decoration: underline;
  }

  .gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  }
  