/* Nav */
.nav_wrapper {
    padding: 100px 100px 0px 100px;
    list-style: none;
  }
  
  .nav_wrapper a {
    color: rgb(255, 255, 255);
  }
  
  .serviceNav_content {
    display: flex;
    justify-content: flex-end;
  }
  
  .serviceNav_content li {
    padding: 15px 10px;
  }
  
  .serviceNav_content a {
    color: rgb(107, 0, 215);
  }
  
  .nav_brandLogo {
    flex: 1;
  }
  
  .mainNav_wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .nav_brandLogo {
    position: relative;
    display: inline-block;
  }
  
  .nav_brandLogo img {
    display: block;
    transition: all 10.4s ease-in-out;
  }
  
  .nav_brandLogo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #6B00D7;
    mix-blend-mode: multiply;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .nav_brandLogo:hover::before {
    opacity: 1.4;
  }
  
  .mainNav_content {
    display: flex;
    align-items: center;
  }
  
  .mainNav_content li {
    padding: 15px 10px;
    cursor: pointer;
  }
  
  .menu_icon {
    display: none;
    cursor: pointer;
  }
  
  .menu_icon span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #7b6a6a;
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 600px) {
    .nav_wrapper {
      padding: 50px;
    }
  
    .nav_brandLogo img {
      width: 200px;
    }
  
    .mainNav_content {
      display: none;
    }
  
    .serviceNav_content {
      justify-content: center;
    }
  
    .serviceNav_content li {
      padding: 10px;
    }
  
    .nav_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .menu_icon {
      display: block;
    }
  
    .mainNav_content.open {
      display: block;
    }
  }
  
  /* Solid Line */
  
  .solidLine_wrapper {
    padding: 25px 100px 100px 100px;
    position: relative;
  }
  
  .solidLine_wrapper::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(to right, transparent, white, transparent);
    transform: translateY(-50%);
  }

  /* Cart Title */
.cart-title {
    text-align: center;
    color: white;
    font-weight: 450;
    font-size: 1.5em;
    padding: 10px 0;
    ::shadow {
      text-shadow: 2px 5px 5px #000000;
    }
}
  
/* Cart Popover */
.cart-popover {
    position: relative;
    font-size: 18px; /* increase font-size for the cart */
  }
  
  .cart-popover-toggle {
    display: flex;
    align-items: center;
    color: #6B00D7;
  }
  
  .cart-popover-toggle i {
    font-size: 24px; /* increase size of the cart icon */
    transition: 0.3s; /* add transition for a smooth animation */
  }
  
  .cart-popover-toggle:hover i {
    transform: scale(1.1); /* add a scale effect on hover */
  }
  
  .cart-count {
    background-color: #6B00D7;
    color: white;
    font-size: 14px; /* increase size of the count */
    padding: 2px 6px;
    border-radius: 50%;
    margin-left: 5px;
  }
  
  .cart-items {
    position: absolute;
    right: 0;
    top: 100%;
    width: 550px; /* change to suit your needs */
    background-color: #6B00D7;
    border: 1px solid #6B00D7;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 25px 0 #6B00D7
}
  @media screen and (max-width: 600px) {
    .cart-items {
        width: 100%; /* Full width on smaller screens */
    }
}
  

.cart-popover:hover .cart-items {
    opacity: 1;
    visibility: visible;
}

  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #f0f0f0; /* add border-bottom to each item */
    padding-bottom: 10px;
  }

  
/* Item details */
.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    overflow: auto;
    ::shadow {
        text-shadow: 2px 2px 2px #000000;
      }
}

.item-details p:not(:last-child) {
    border-right: 1px solid grey;
    padding-right: 10px; /* adjust as needed */
    margin-right: 10px; /* adjust as needed */
}


.item-details p {
    flex: 1 1 auto;
    min-width: 0;
    margin: 0 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* Item image */
.item-image {
    flex-shrink: 0;
    margin-right: 10px;
}

.item-image img {
    width: 60px; /* adjust image size to create more space */
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}



.cart-total-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ::shadow {
        text-shadow: 2px 3px 3px #000000;
      }
  }
  
  .cart-total-details .column:first-child {
    flex: 2;
}

.cart-total-details .column:last-child {
    flex: 1;
}


.cart-total {
    display: block;
    padding: 10px;
    margin-top: 30px;
    font-size: 22px;
}

.card-body {
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    font-size: 21px;
    ::shadow {
      text-shadow: 2px 3px 3px #000000;
    }
  }
  
  .card-body p {
    margin: 0;
  }
  
img.me2 {
  margin: 0 auto;
}

.buy-now {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #301f41;
    font-size: 18px;
    color: white;
    border-radius: 50px;
    padding: 12px 40px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .buy-now:hover {
    background-color: #9000FF;
    transform: scale(1.05);
  }
  
  .buy-now:active {
    background-color: #47007B;
    transform: scale(0.95);
  }
  