<!-- Nav -->
<div class="nav_wrapper">
    <div class="nav_content">
      <button class="menu_icon" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="serviceNav_content">
        <li><a routerLink="../signup">Sign Up</a></li>
        <li><a routerLink="../login">Log In</a></li>
      </ul>
      <div class="mainNav_wrapper">
        <div class="nav_brandLogo">
          <a routerLink="/home"><img src="assets/img/logos/brand/99Deals_logo_white.svg" alt="99Deals Logo"></a>
        </div>
        <ul class="mainNav_content" [ngClass]="{'open': isMenuOpen}">
          <li><a (click)="goToPart('main')">Deals of the Day</a></li>
          <li><a (click)="goToPart('about')">About Us</a></li>
          <li><a (click)="goToPart('sponsor')">Sponsors</a></li>
          <li class="cart-popover">
            <div class="cart-popover-toggle" (click)="toggleCartPopover()">
              <i class="fa fa-shopping-cart" style="color: #6B00D7;"></i>
              <span class="cart-count">{{ cartCount }}</span>
            </div>
            <div class="cart-items" *ngIf="isCartPopoverOpen">
              <div *ngIf="cartItems.length > 0">
                <div class="cart-item" *ngFor="let item of cartItems">
                  <div class="item-image">
                    <img [src]="getStrapiImageUrl(item.imageUrl)" [alt]="item.articleName">
                  </div>
                  <div class="item-details">
                    <p style="flex: 1;">{{ item.Brand }}</p>
                    <p style="flex: 2;">{{ item.articleName }}</p>
                    <p style="flex: 2;">Quantity: {{ item.amount }}</p>
                    <p style="flex: 3;">Price: {{ item.price }} CHF</p> 
                  </div>
                </div>
                <div class="cart-total">
                  <div class="cart-total-details">
                    <div class="column">
                      <p>Total Quantity: {{ totalQuantity }}</p>
                      <p>Total Price: {{ totalPrice }} CHF</p>
                      <div class="buy">
                        <button class="buy-now">BUY ALL</button>
                      </div>
                    </div>
                    <div class="column">
                      <div class="card mb-4 mb-lg-0">
                        <div class="card-body">
                          <p><strong>We accept</strong></p>
                          <i class="fab fa-cc-paypal fa-2x"alt="Pay-Pal"></i>
                          <i class="fab fa-cc-amex fa-2x me-2" alt="American Express"></i>
                          <i class="fab fa-cc-visa fa-2x me-2" alt="Visa"></i>
                          <i class="fab fa-cc-mastercard fa-2x me-2" alt="Mastercard"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="cartItems.length === 0">Your cart is empty</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Solid Line -->
  <div class="solidLine_wrapper"></div>
  