<!-- About Us-->
<div id="about">
  <div class="aboutUs_wrapper"> 
      <div class="aboutUs_content">
        <div class="aboutUs_title">
          <h1>About Us</h1>
            <div class="aboutUs_icon">
              <img src="assets/img/logos/about/99Deals_aboutUs_icon_purple.svg" alt="About Us Icon">
        </div>
        <div class="aboutUs_text">
          <p *ngFor="let paragraph of aboutContent">{{ paragraph }}</p>
          <img class="aboutUs_logo" src="assets/img/logos/brand/99Deals_logo_purple.svg" alt="99Deals Logo">
        </div>
      </div>
    </div>
</div>