/* Sponsorships */ 

.sponsorships_wrapper {
    padding: 0px 100px 150px 100px; 
}

.sponsorships_content {
    background-color: rgb(107, 0, 215); 
    padding: 100px; 
    box-shadow: 0 0 10px 10px #6B00D7

}

.sponsorships_title h2 { 
    font-weight: 500;
    font-size: 30px; 
    text-align: center;
    ::shadow {
        text-shadow: 2px 3px 3px #000000;
      }

} 

.sponsorships_logos {
    display: flex;
    align-items: center;
    list-style: none; 
    justify-content: space-evenly; 
    padding-top: 25px;
}
